*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#canvas {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 15px);
    grid-template-columns: repeat(var(--grid-cols), 15px);
}

.grid-item {
    border: 1px solid #ddd;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

#buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

